body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #ddd;
  border-top: 8px solid goldenrod;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}